html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #DF3B57;
	font-family: 'Rubik', sans-serif;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 120px;
}

nav h1 {
	color: #f09563;
	font-size: 4em;
	font-weight: 900;
	margin: 0;
}

nav h2 {
	color: #163c66;
	font-size: 2em;
	font-weight: 400;
	margin: 0;
}

.flex-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.flex-grid img {
	max-width: 100%;
	padding: 0 0 20px 0;
}