body {
	background-color: #DF3B57;
	font-family: 'Rubik', sans-serif;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 120px;
	padding: 1em 0 1em 0;
}

header h1 {
	color: #f09563;
	font-size: 4em;
	font-weight: 900;
	margin: 0;
}

header h2 {
	color: #163c66;
	font-size: 2em;
	font-weight: 400;
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2em 2em;
	padding: 2em;
}

.module {
	object-fit: cover;
}

img {
	max-width: 100%;
	height: auto;
}

@media only screen 
  and (max-device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	nav {
		height: auto;
		padding-top: 4em;
	}
		
	nav h1 {
		font-size: 8em;
}
	nav h2 {
		font-size: 4em;
}
	.grid {
		grid-template-columns: 1fr;
	}
	.module {
		place-self: center;
	}
	img {
		max-width: 75%;
		padding: 2em;
	}
}